<div class="card">
    <div class="card-header">
        <p class="card-text"><b>{{userName}}</b></p>
    </div>
    <div class="card-body">
        <img [src]="imageUrl" class="card-img-top" [alt]="jogo.nome">
        <div class="row">
            <div class="col">
                <h1 class="text-primary">
                    <ngb-rating [max]="5" [(rate)]="jogo.nota" [readonly]="relatorio" (rateChange)="avaliacao($event)">
                        <ng-template let-fill="fill" let-index="index">
                            <span class="star" [class.filled]="fill === 100"
                                [class.bad]="index < indexado()">&hearts;</span>
                        </ng-template>
                    </ngb-rating>
                </h1>
            </div>
            <div class="col d-flex justify-content-end">
                <div *ngIf="usuario.ehAdmin === 'true' && relatorio === false">
                    <button type="button" class="btn btn-outline-info mr-1"
                        (click)="openModalEditar(jogo)">Editar</button>
                    <button type="button" class="btn btn-danger m-1" (click)="deletarJogo(jogo)">Excluir</button>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="row">
                    <div class="col">
                        <p class="card-text my-3"><b>{{userName}}</b> {{jogo.nome}}</p>
                    </div>
                    <div class="col d-flex justify-content-end">
                        <div class="my-2">
                            <a role="button" class="btn btn-outline-dark" [routerLink]="['/avaliacao/'+jogo.id]">Ver
                                mais
                                avaliações de {{jogo.nome}}</a>
                        </div>
                    </div>
                </div>
                <p class="card-text">{{jogo.descricao}}</p>
                <p class="card-text">Link: <a href="{{jogo.urlJogo}}" target="_blank">{{jogo.urlJogo}}</a></p>                
            </div>
        </div>
    </div>
</div>