.interna {
    left: 50%;
    top: 50%;
    margin-left: -240px;
    margin-top: -340px;
    position: absolute;
    width: 500px;
    height: 470px;
    background: white;
    padding: 50px;
    border-radius: 16px;
}