<div class="row">
    <div class="col-8">
        <app-listar-jogos></app-listar-jogos>        
    </div>
    <div class="col-4">
        <div class="card m-2">
            <div class="card-body">
                <div class="row">
                    <div class="col-6 ">
                        <p><b>{{usuario.userName}}</b></p>
                        <p>{{usuario.nome}}</p>
                        <p>{{usuario.dataNascimento}}</p>
                        <p>{{usuario.estado}} - {{usuario.pais}}</p>
                    </div>
                    <div class="col-6 d-flex justify-content-end">
                        <div>
                            <span class="text-info my-1" style="cursor: pointer;" routerLink="/perfil-update">Mudar</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <app-listar-categorias></app-listar-categorias>
    </div>
</div>